.ui3-dialog{
    border-radius: 3px;
    background: #fff;
    padding-bottom: 30px;
    padding-top: 50px;
}

.ui3-dialog a:hover{
    text-decoration: none;
}

.ui3-dialog-close{
    display: block;
    width: 21px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    font-size: 21px;
    text-decoration: none;
    color: #ccc;
    position: absolute;
    right: 6px;
    top: 6px;
}

.ui3-dialog-close:hover{
    color: #333;
}

.ui3-dialog-title{
    color: #ff8447;
    font-size: 20px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 3px;
}

.ui3-dialog-content{
    overflow: auto;
    margin: 0px 11px;
    padding: 0px 13px;
}

.ui3-dialog-content::-webkit-scrollbar{
    width: 11px;
}

.ui3-dialog-content::-webkit-scrollbar-thumb{
    background: #ccc;
}

.ui3-dialog-buttons{
    border: 0px;
    text-align: center;
    height: 52px;
    padding: 20px 16px 0px 16px;
    list-style: none;
    margin: 0px;
}

.ui3-dialog-buttons > li{
    float: left;
}

.ui3-dialog-button{
    width: 90%;
    cursor: pointer;
    border: 0px;
    margin: auto;
    border-radius: 3px;
    background: #FF8447;
    color: #FFFFFF;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #FF8447;
    text-decoration: none;
}

.ui3-dialog-button:hover{
    background: #ef5921;
}

.ui3-dialog-button-disabled{
    cursor: default;
    background: #dfdfdf !important;
}