.ui3-dialog{
    border-radius: 3px;
    background: #fff;
    padding: 0px 18px 18px 18px;
}

.ui3-dialog-not{
    padding-top: 37px;
}

.ui3-dialog a:hover{
    text-decoration: none;
}

.ui3-dialog-close{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: #ccc;
    position: absolute;
    right: 12px;
    top: 10px;
}

.ui3-dialog-close:hover{
    color: #333;
}

.ui3-dialog-title{
    color: #464E78;
    font-size: 20px;
    height: 56px;
    line-height: 56px;
    border-bottom: 1px solid #DFDFDF;
}

.ui3-dialog-content{
    overflow: auto;
    font-size: 14px;
    margin: 20px 0px;
}

.ui3-dialog-content::-webkit-scrollbar{
    width: 11px;
}

.ui3-dialog-content::-webkit-scrollbar-thumb{
    background: #ccc;
}

.ui3-dialog-buttons{
    border: 0px;
    text-align: center;
    height: 52px;
    padding: 10px 0px;
    list-style: none;
    margin: 0px;
    border: 0px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.ui3-dialog-buttons > td{
    text-align: center;
}

.ui3-dialog-buttons .ui3-dialog-button-first{
    text-align: left;
}

.ui3-dialog-buttons .ui3-dialog-button-last{
    text-align: right;
}

.ui3-dialog-button{
    text-align: center;
    width: 90%;
    cursor: pointer;
    border: 0px;
    margin: auto;
    border-radius: 3px;
    background: #5986E1;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #5986E1;
    text-decoration: none;
}

.ui3-dialog-buttons-1 td{
    text-align: center;
}

.ui3-dialog-buttons-1 .ui3-dialog-button{
    width: 99%;
}

.ui3-dialog-button:hover{
    background: #3E6BC5;
}

.ui3-dialog-button-disabled{
    cursor: default;
    border: 1px solid #dfdfdf !important;
    background: #dfdfdf !important;
}


.ui3-dialog-button-hollow{
    background: #fff;
    color: #3E6BC5;
}

.ui3-dialog-button-hollow:hover{
    background: #3E6BC5;
    color: #fff;
}